#cursor-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.cursor > svg {
  position: absolute;
  width: 35px;
  height: 35px;
}
